﻿@using ToDoList.Models.Home
@model TaskInfo
@using (Html.BeginForm("CreateTask", "Task", FormMethod.Post, new ToDoListDB.Model.Task()))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)

    <hr />
    <div>
        @Html.LabelFor(model => model.Title)
    </div>
    @Html.ValidationMessageFor(model => model.Title)    
    @Html.EditorFor(model => model.Title)

    <hr />
    <div>
        @Html.LabelFor(model => model.Description)
    </div>
    @Html.TextAreaFor(model => model.Description)

    <hr />
    <input type="submit" class="button" id="btn btn-outline-dark" />
}