﻿@using ToDoList.Models.ViewModels
@using ToDoList.Models.Home
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexViewModel

@addTagHelper *, ToDoList

<form method="get">
    <div class="form-inline">
        <label>Задача: </label>
        <input name="title" value="@Model.FilterViewModel.SelectedTitle" class="form-control" />

        <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
    </div>
</form>

<div class="text-center">
    <table class="table">
        <tr>
            <th>
                <a asp-action="GetAll"
                   asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                   asp-route-title="@(Model.FilterViewModel.SelectedTitle)">Id</a>
            </th>
            <th>
                <a asp-action="GetAll"
                   asp-route-sortOrder="@(Model.SortViewModel.TitleSort)"
                   asp-route-title="@(Model.FilterViewModel.SelectedTitle)">Задача</a>
            </th>
            <th>
                <a asp-action="GetAll"
                   asp-route-sortOrder="@(Model.SortViewModel.DescriptionSort)"
                   asp-route-title="@(Model.FilterViewModel.SelectedTitle)">Описание</a>
            </th>
        </tr>
        @if (Model.Tasks.Count() != 0)
        {
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td>@Html.ActionLink("Информация", "GetInfo", "Task", new { Id = task.Id }, new { type = "button", @class = "btn btn-outline-dark" })</td>
                    <td>
                        <form asp-action="DeleteTask" asp-controller="Task" asp-route-id="@task.Id" data-ajax="true"
                              data-ajax-method="POST" data-ajax-success="onSuccess">
                            <input type="submit" class="btn btn-outline-dark" value="Удалить" id="delete" />
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
</div>

<page-link page-model="Model.PageViewModel" page-action="GetAll"
           page-url-title="@(Model.FilterViewModel.SelectedTitle)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>

<div>
    @Html.ActionLink("Создать", "CreatePage", "Task", new TaskInfo(), new { type = "button", @class = "btn btn-outline-dark" })
</div>

@section Scripts
{
    <script>
        function onSuccess(data) {
            alert("Удалить задачу?");
            history.go(0);
        }
    </script>
}