﻿@using ToDoList.Models.Home
@model TaskInfo


<form asp-action="TaskInfo" asp-controller="Task" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="onSuccess">
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Title, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "col-2 col-form-label" })
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "textarea" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <input type="submit" class="btn btn-outline-dark" id="btsubmit" />
</form>

<script>
    function onSuccess(data) {
        alert(data.success);
        history.go(-1);
    }
</script>