﻿@using ToDoList.Models.Home
@model UserInfo
@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Я рад приветствовать вас, @User.Identity.Name!</p>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#exit').click(function () { alert("Вы уверены, что хотите выйти?"); });
        });
    </script>
}