﻿@model ToDoList.Models.Account.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "col-2 col-form-label" })
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "col-2 col-form-label" })
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-2 col-form-label" })
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "col-2 col-form-label" })
            <input type="text" asp-for="FirstName" />
            <span asp-validation-for="FirstName" />
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "col-2 col-form-label" })
            <input type="text" asp-for="LastName" />
            <span asp-validation-for="LastName" />
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, new { @class = "col-2 col-form-label" })
            <input type="date" asp-for="DateOfBirth" />
            <span asp-validation-for="DateOfBirth" />
        </div>
        <div>
            @Html.LabelFor(model => model.Role, new { @class = "col-2 col-form-label" })
            @Html.DropDownList("role", new SelectList(new string[] { "Admin", "User" }))
            <span asp-validation-for="Role" />
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </div>
</form>