﻿@using ToDoList.Models.Home
@using ToDoListDB.Model
@model UserInfo
@using (Html.BeginForm("CreateUser", "User", FormMethod.Post, new User()))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)

    <hr />
    @Html.ValidationMessageFor(model => model.FirstName)
    @Html.LabelFor(model => model.FirstName, new { @class = "col-2 col-form-label" })
    @Html.EditorFor(model => model.FirstName)

    <hr />
    @Html.LabelFor(model => model.LastName, new { @class = "col-2 col-form-label" })
    @Html.EditorFor(model => model.LastName)
    <hr />
    @Html.LabelFor(model => model.Login, new { @class = "col-2 col-form-label" })
    @Html.EditorFor(model => model.Login)

    <hr />
    @Html.LabelFor(model => model.Password, new { @class = "col-2 col-form-label" })
    @Html.EditorFor(model => model.Password)

    <hr />
    @Html.LabelFor(model => model.DateOfBirth, new { @class = "col-2 col-form-label" })
    @Html.EditorFor(model => model.DateOfBirth)

    <hr />
    @Html.LabelFor(model => model.Role, new { @class = "col-2 col-form-label" })
    @Html.DropDownList("role", new SelectList(new string[] { "Admin", "User" }))

    <hr />
    <input type="submit" class="button" id="btn btn-outline-dark" />
}