﻿@using ToDoList.Models.ViewModels
@using ToDoList.Models.Home
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexViewModel

@addTagHelper *, ToDoList

<form method="get">
    <div class="form-inline">
        <label>Имя: </label>
        <input name="firstName" value="@Model.FilterViewModel.SelectedFirstName" class="form-control" />

        <label>Фамилия: </label>
        <input name="lastName" value="@Model.FilterViewModel.SelectedLastName" class="form-control" />

        <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
    </div>
</form>

<div class="text-center">
    <table class="table">
        <tr>
            <th>
                <a asp-action="GetAll"
                   asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                   asp-route-firstName="@(Model.FilterViewModel.SelectedFirstName)"
                   asp-route-lastName="@(Model.FilterViewModel.SelectedLastName)">Id</a>
            </th>
            <th>
                <a asp-action="GetAll"
                   asp-route-sortOrder="@(Model.SortViewModel.FirstNameSort)"
                   asp-route-firstName="@(Model.FilterViewModel.SelectedFirstName)"
                   asp-route-lastName="@(Model.FilterViewModel.SelectedLastName)">Имя</a>
            </th>
            <th>
                <a asp-action="GetAll"
                   asp-route-sortOrder="@(Model.SortViewModel.LastNameSort)"
                   asp-route-firstName="@(Model.FilterViewModel.SelectedFirstName)"
                   asp-route-lastName="@(Model.FilterViewModel.SelectedLastName)">Фамилия</a>
            </th>
            <th>Удален</th>
        </tr>

        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>

                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.IsDeleted</td>
                <td>@Html.ActionLink("Информация", "GetInfo", "User", new { Id = user.Id }, new { type = "button", @class = "btn btn-outline-dark" })</td>
                <td>
                    <form asp-action="DeleteUser" asp-controller="User" asp-route-id="@user.Id" data-ajax="true"
                          data-ajax-method="POST" data-ajax-success="onSuccess">
                        <input type="submit" class="btn btn-outline-dark" value="Удалить" id="delete" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

<page-link page-model="Model.PageViewModel" page-action="GetAll"
           page-url-firstName="@(Model.FilterViewModel.SelectedFirstName)"
           page-url-lastName="@(Model.FilterViewModel.SelectedLastName)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>

<div>
    @Html.ActionLink("Создать", "CreatePage", "User", new UserInfo(), new { type = "button", @class = "btn btn-outline-dark" })
</div>

@section Scripts
{
    <script>
        function onSuccess(data) {
            alert('Успешно');
            history.go(0);
        }
    </script>
}