﻿@using ToDoList.Models.Home
@model UserInfo


<form asp-action="UserInfo" asp-controller="User" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="onSuccess">
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Login, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Login)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth, new { @class = "col-2 col-form-label" })
        @Html.TextBoxFor(model => model.DateOfBirth, "{0:dd/MM/yyyy}")
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsDeleted, new { @class = "col-2 col-form-label" })
        @Html.TextBoxFor(model => model.IsDeleted)
    </div>

    <div class="form-group">
        @Html.Label("Список дел:")<br />
        @Html.ListBoxFor(model => model.SelectedTaskIds, Model.Tasks.Select(a => new SelectListItem { Text = a.Title, Value = a.Id.ToString() }), new { @form = "deleteTask", style = "width:200px" })

        <input type="submit" class="btn btn-outline-dark" id="btsubmit" value="Удалить" form="deleteTask"/>
@*<ul>
        @foreach (var title in Model.Tasks)
        {
            <li>@title.Title</li>
        }
    </ul>*@
    </div>

<input type="submit" class="btn btn-outline-dark" id="btsubmit" />
</form>

<form id="deleteTask" asp-action="DeleteTasks" asp-controller="User" asp-route-id="@Model.Id" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="deleteSuccess"></form>


<script>
    function onSuccess(data) {
        alert(data.success);
        history.go(-1);
    }

    function deleteSuccess() {
        alert("Элемент удален");
        history.go(0);
    }
</script>
